html {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    font-size: 62.5%;

  }
  * {
    margin: 0;
    padding: 0;
  }
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  input,
  textarea,
  select,
  button {
    outline: none;
  }
  input {
    line-height: normal;
  }
  label,
  button {
    cursor: pointer;
  }
  a {
    text-decoration: none;
  }
  img {
    display: block;
    max-width: 100%;
  }
  body{
    height: 1000px;
  }
/* ////////////////////// */
.main-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  /* background-color: aqua; */
}
.header{
    width: 100%;
    padding:0 190px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  .logo{

}
.navi{
    display: flex;
    width: max-content;
}
.navi a{
  align-items:
  center;
  color:
  #4a4a4a;
  display:
  flex;
  justify-content:
  center;
  line-height:
  23.2px;
  padding:
  30px 15px;
  text-align:
  left;
  text-decoration: none;
  height: 100%;

}
.navi li{
  list-style-type: none;
    width: max-content;
}

.wrap-search{
  position: relative;
}
.icon-search{
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translate(-50%,-50%);
  font-size: 13px;
}
.input-search{
  width: 200px;
  height: 35px;
  padding-left: 35px;
  border-radius: 20px;
  border: 1px solid #eee;
  font-size: 16px;
}

.icon-cart{
  font-size: 20px;
}




.navi li{
  position: relative;
  background-color: transparent;
}


.navi li::before::hover{
  content: "";
  position: absolute;
  z-index: -100;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: purple;
}